.debug {
	background-color: purple;
}

.filter_bar {
	position: fixed;
	height: 50px;
	width: 400px;
	top: 0px;
	right: 0px;
	z-index: 1000
}

.achieveRow.excluded,
.achieveRow.hiddenUnlocked {
	visibility: collapse;
	height: 0px;
	margin: 0px;
	padding: 0px;
	min-height: 0px;
	min-width: 0px;
	z-index: 0;
}

.achieveRow.excluded>div,
.achieveRow.excluded>div>div,
.achieveRow.excluded>div>div>div,
.achieveRow.hiddenUnlocked>div,
.achieveRow.hiddenUnlocked>div>div,
.achieveRow.hiddenUnlocked>div>div>div {
    visibility: collapse;
    height: 0px;
    width: 0px;
    min-height: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 0;
}

.achieveRow.match {
}

#searchContainer {
	margin-right: 0px;
}